<%-include('partials/header.ejs') %>
    <link rel = "stylesheet" href = "stylesheets/home.css">
    <title>City Navigator</title>
  </head>
  <body>
<%-include('partials/navbar_new.ejs') %>
	  <div class = "container justify-content-around row mt-5">
			  <div class = "col-12 col-md-8">
			  <label for =  "countryId">Choose a location:</label>
			  <select id = "countryId" onChnage = "change_data">
				  <option value = "">Global</option>
			  </select>
			  <button id = "go" class = "btn btn-secondary">
				  Search
			  </button>
			  </div>
	  </div>
	   <div class = "container-fluid justify-content-around row mt-5">
		  <div class = "data-box col-12 col-md-3" id = "confirmed">
			  <p id = "confirmed_data" class = "count">
				  
			  </p>
			  Confirmed
		  </div>
		  <div class = "data-box col-12 col-md-3" id = "recovered">
			  <p id = "recovered_data"class = "count">
				  
			  </p>
			  Recovered
		  </div>
		  <div class = "data-box col-12 col-md-3" id = "deaths">
			  <p id = "deaths_data"class = "count">
				  
			  </p>
			  Deaths
		  </div>
	  </div>
	  <div class = "container-fluid mt-5">
		  <div class = "row">
			<canvas id = "barChart" class = "col-12 col-md-6"></canvas>
			<canvas id = "lineChart" class = "col-12 col-md-6"></canvas>
		  </div>
	  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	   <script src = "scripts/covid.js"></script>
<%-include('partials/footer.ejs') %>